.content-wrapper .button-1 {
  appearance: none;
  background-color: #FFFFFF;
  width: 20vw;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.content-wrapper .button-1:hover{
    color:#FFFFFF;
}
.content-wrapper .button-1:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #B40000;
  color: #FFFFFF;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.content-wrapper .button-1:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  color: #FFFFFF;
}

.content-wrapper .button-1:after {
  background-color: #FFFFFF;
}

.content-wrapper .button-1 span {
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 800px) {
  .home-wrapper {
    overflow: hidden auto;
  }
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  min-width: 100%;
}

.home-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  bottom: 0;
  height: max-content;
  overflow: hidden;
}

.problem-container {
    flex-grow: 1;
    width: max-content;
    width: 100%;
    height: max-content;
}

.lesson-container { 
  /* change here later to flex grow 1 */
    flex-grow: 0;
    height: max-content;
    width: 0;
}

.title-right {
  top: 2vh;
  right: 2vw;
  display: flex;
  align-items: center;
  gap: 20px;
}

.ide-button {
  position: relative;
  background-color: #31a1a9;
  color: white;
  font-family:'Courier New', Courier, monospace ;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  width: 200px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.ide-button:hover {
  background-color: #1b7885;
}

.auth-header {
  padding: 0px 0px 0px 0px;
}

.problems {
  width : 50%; 
  min-width: 300px;
  max-width: 500px;
  background-color : #fff; 
  margin : 40px auto 100px; 
}


li a {
  text-decoration : none; 
  color : #2d2f31;
}

.component-list {
  width: 100%;
}

/* .component-list-enter {
  opacity: 0;
}

.component-list-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.component-list-exit {
  opacity: 1;
}

.component-list-exit-active {
  opacity: 0;
  transition: opacity 300ms;
} */

.component-list-container {
  overflow-y: hidden;
}

.component-list-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.component-list-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.component-list-exit {
  opacity: 1;
  transform: translateY(0);
}

.component-list-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}


.problem-button {
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #31A1A9;
  cursor: pointer;
}
.problem-button.active {
  background: #31A1A9;
}
.problem-button.active h2 {
  color: #fff;
  background: #31A1A9;
}
.problem-button:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.problem-button h2 {
  color: #31A1A9;
  font-size: 24px;
  line-height: normal;
}

.component-preview {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  min-height: 140px;
}
.component-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.component-preview h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #1b7885;
  padding-bottom: 35px;
}
.component-preview a{
  text-decoration: none;
}

.topics {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.topics p {
  width: fit-content;
  margin: 10px 5px 0px 5px;
  margin-right: 5px; 
  padding: 5px 10px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #31A1A9;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap; 
  cursor: default;
}

.auth-signout-button {
  background: #31a1a9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.auth-signout-button:hover {
  background-color: #1b7885;
} 

