

.sign-up-modal {
  position: absolute;
  display: flex;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: none;
  overflow: auto;
  flex-wrap: nowrap;
}

.sign-up-form {
  width: 400px;
}
.sign-up-form h1 {
  height: 30px;
}
@media screen and (min-width: 930px) {
  .sign-up-modal{
  max-width: 40%;
  max-height: 80%;
  }
}  
@media screen and (max-width: 930px)  {
  .sign-up-modal{
    max-width: 80%;
    max-height: 80%;
    }
  
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.signup{
  
  width: 388px;
  height: 59px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #31A1A9;
}



