 .sign-in-page {
  position: absolute;
  height: 100vh;
  width: 100vw;
  right: 0;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 50vw;
  height: 100%;
  margin-top: 3vh;
  background: url(../img/bg.png), lightgray 0px -0.25px / 159.367% 100.051% no-repeat;
  background-blend-mode: screen;
  right: 0;
  z-index: -2;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
  z-index: +1;
}

@media screen and (min-width: 1150px) {
  .bg-img{
    width: 50vw;
  } 
  .sign-in-container{
    left: 10%;
    width: 388px;
  }
  .signed-in-as {
    flex-wrap: nowrap;
  }
}  
@media screen and (max-width: 1150px)  {
  .bg-img{
    width: 100vw;
  }
  .sign-in-container{
    width: 100vw;
  }
  .signed-in-as {
    flex-wrap: wrap;
  }
  /* .signed-in-as p {
    
  } */
}

@media screen and (max-width: 500px)  {
  .signed-in-as p {
    display: none;
  }
}

.sign-in-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}


h1 {
  font-size: 32px;
  margin-bottom: 8vh;
  color: #31a1a9;
}

.sign-in-container h1 {
  width: 100%;
}

.sign-in-container p {
  
  margin-bottom: 1vh;
  text-align: left;
  color: #000;
  font-family: Product Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.login-form {
  max-width: 388px; 
  width: 80%;
}


input {
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  width: 100%;
  height: 59px;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.login {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login {
  width: 100%;
  height: 59px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #31A1A9;
}

button:hover {
  background-color: #1b7885;
}

.signed-in-as {
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
  padding-top: 0;
  z-index: +1;
}


.signup-button-1 {
  background: #31a1a9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 4vh;
}

.sign-up-button:hover {
  background-color: #1b7885;
} 
